<!DOCTYPE html>
<html>
<head>
    <title>Predat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}" />
</head>
<body>
    {% include 'navbar.html' %}
    <div><br>
        <br>
    </div>
    <form class="center" method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">

        
        <input type="file" name="file" class="custom-file-upload" id="my-file" required>
        
        <button type="submit" class="button-17" onclick="checkFile">Upload</button>
    </form>
    

</body>
<script>
    function checkFile() {
      var fileInput = document.getElementById("my-file");
      if (fileInput.value == "") {
        alert("Please select a file");
      } 
    }
  </script>
</html>

